@{
	ViewData["Title"] = "Sistema de parqueo";
}

<div class="text-center">
	<h1 class="display-4">Bienvenido al sistema de parqueo</h1>
	<p>Para continuar, por favor seleccione una de las siguientes opciones:</p>
	<div class="btn-group" role="group" aria-label="Basic example">
		<a class="btn btn-primary" asp-controller="Registros" asp-action="Entrada">Marcar entrada</a>
		<a class="btn btn-primary" asp-controller="Registros" asp-action="Index">Marcar salida</a>
	</div>

</div>
